
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ crop_name }} Information</title>
</head>
<body>
    <h1>{{ crop_name }}</h1>
    <img src="{{ url_for('static', filename='images/' + info.image) }}" alt="{{ crop_name }}" width="300"><br>
    <ul>
        <li><strong>Temperature:</strong> {{ info.temperature }}</li>
        <li><strong>pH Level:</strong> {{ info.ph }}</li>
        <li><strong>Rainfall:</strong> {{ info.rainfall }}</li>
        <li><strong>Soil Type:</strong> {{ info.soil }}</li>
    </ul>
    <a href="/recommend">Back to Recommend</a>      <br>
    <a href="http://127.0.0.1:5001/">Go to Home</a>
</body>
</html>
